footer {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    
    bottom: 0;
    width: 100%;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white; /* Ensure the footer has a background to not see content through it */
}

footer a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

footer a span {
    margin-left: 10px;
}

footer .container {
    padding: 10px;
}
